Machine Learning Engineer Nanodegree/Capstone Project - Image Retrieval Based on Autoencoders/proposal.pdf
AI for Healthcare Nanodegree/Project - Pneumonia Detection from Chest X-Rays/xray_class_my_model.best.hdf5
AI for Healthcare Nanodegree/Project - Pneumonia Detection from Chest X-Rays/submission.zip
AI for Healthcare Nanodegree/Project - Hippocampal Volume Quantification in Alzheimer's Progression/section2/out/model.pth
